<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusPomo</title>
    <!-- CSS link -->
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <!-- Font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,500;1,6..12,300&family=Nunito:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">  

</head>
<body>
    <div class="container">
        {% block body_block %}
        
        {% endblock body_block %}
        <footer>
            <ul>
                <li>© Clement 2023</li>
            </ul>
        </footer>
    </div>
</body>
</html>