{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block body_block %}
<script src="{% static 'master.js' %}"></script>

    <ul class="header">

        <div class="brand">
            <a href="#" style="text-decoration:none">
                <li>FocusPomo</li>
            </a>
        </div>
        <div class="settings">
            <a href="#" class="tab" style="text-decoration:none">
                <li>Report</li>
            </a>
            <a href="#" class="tab" style="text-decoration:none">
                <li>Settings</li>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class="tab" style="text-decoration:none">
                    <li>Logout</li>
                </a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="tab" style="text-decoration:none">
                    <li>Login</li>
                </a>
            {% endif %}
        </div>
    </ul>
    <div class="screen">
        <div class="selection">
            <h2>Pomodoro</h2>
            <h2>Short Break</h2>
            <h2>Long Break</h2>
        </div>
    </div>
    <div class="task">
        <h2>Tasks</h2>
        {% for task in tasks %}
        <div class="card" id="card{{ task.id }}">
            <div class="title">
                <p><img src="static\images\check.png" alt="option icon" class="check"></p>
                <p class="text">{{task.title}}</p>
            </div>
            <div class="settings">
                <p class="text">/ {{task.rounds}}</p>
                <button class='none' onclick="openModal('{{ task.id }}')">
                    <img src="static\images\button-of-three-vertical-squares.png" alt="option icon" class="dots">
                </button>
            </div>
        </div>
        <div class="modal" id="modal{{ task.id }}">
            <div class="update">
                <p class="text">{{task.title}}</p>
                <p class="text">/ {{task.rounds}}</p>
                <p class="text">{{task.note}}</p>
            </div>
            <div class="action">
                <a href="{% url 'task_delete' pk=task.pk %}">delete</a>
                <button onclick="closeModal('{{ task.id }}')">cancel</button>
                <button type="submit">save</button>
            </div>
        </div>
         {% endfor %}
         <div class="add_task" onclick="openForm()">
            <img src="static\images\plus (1).png" alt="add icon" class="plus">
            <p>Add Task</p>
        </div>
        <div class="task_creation">
            <form method="post">
                <div class="update">
                    {% csrf_token %}
                    {{form}}
                    <p onclick="openNotes()" class="note_creation">+ Add note</p>
                </div>
                <div class="action">
                    <button onclick="closeForm()">cancel</button>
                    <input type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>

{% endblock body_block %}