body{
    background-color: rgb(186, 73, 73);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    font-size: 20px;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.brand{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.settings{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.tab{
    margin: 0px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
}
.screen{
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    border-style: solid;
}
.task{
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
    border-style: solid;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}
.settings{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 10px;
}
.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    color: white;
    font-size: 16px;
}
.dots{
    width: 30px;
    opacity: 0.4;
    border-radius: 4px;
    border-style: solid;
    border-width: 0.1px;
    padding: 1px 0px 1px 0px;
}
.check{
    width: 30px;
    opacity: 0.4;
}
.text{
    padding-top: 7px;
}

.none{
    background: none;
    border: none;
}
.dots:hover{
    background-color: grey;
}
.model{
    border-radius: 5px;
    background-color: white;
}